@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid gray;
}

.google-search {
    border-radius: 20px;
    border: solid 1px;
    border-color: gray;
    height: 40px;
    width: 38rem;
    margin-left: 2vh;
    display: flex;
    text-align: center;
    align-items: center;
    
}

.fa-magnifying-glass {
    float: right;
    color: blue;
    margin-right: 10px;
}

.search-bar {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 38rem;
    margin-left: 10px;
}

.google-search:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-bar-img {
    display: flex;
    text-align: center;
    align-items: center;
}

.all-search-bar-things {
    display: flex;
    text-align: center;
    align-items: center;
}

.menu-bar {
    margin-top: 20px;
    margin-left: 8.3rem;
}

.menu-bar-btns {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu-bar-btns li {
    display: inline-block;
}

.default-btn {
    padding-bottom: 10px;
    font-size: 16px;
    background: none;
    border: none;
    color: gray;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.blue-btn {
    color: #4285F4;
    border: none;
    padding-bottom: 10px;
    width: 48px;
    border-bottom: 3px solid #4285F4;
    font-size: 13px;
    background: none;
    color: gray;
    font-family: 'Roboto', sans-serif;
}


.settings-btn {
    margin-left: 9rem;
}

.results-text {
    margin-left: 7.7rem;
    font-size: 13px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.title-of-informations {
    color: rgb(29, 1, 189);
    font-size: 16px;
    margin-left: 8.3rem;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.informations-texts {
    margin-left: 8.3rem;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.green-text {
    color: green;
    font-size: 15px;
}

.bottom-text {
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
}

.none-bottom-text {
    margin-bottom: 1.5rem;
}

.title-of-bottom {
    font-family: 'Roboto', sans-serif;
    margin-left: 7.7rem;
}

.bottom-informations {
    display: flex;
    margin-left: 5.5rem;
    width: 350px;
}

.bottom-informations ul {
    
}

.bottom-informations ul li{
    list-style: none;
}

.bottom-informations li {
    color: rgb(29, 1, 189);
}

.bottom-pages {
    margin-left: 15.7rem;
    margin-top: 2.6rem;
    font-family: 'Roboto', sans-serif;
}

.bottom-pages ul {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.bottom-pages ul li {
    list-style: none;
}

.bottom-pages li {
    color: #4285F4;
    font-size: 14px;
}

.previous-page-list {
    position: relative;
}

.previous-page-list::before {
    content: "<";
    position: absolute;
    bottom: 20px;
    left: 36px;
    font-size: 19px;
}

.next-page-list {
    position: relative;
}

.next-page-list::before {
    content: ">";
    position: absolute;
    bottom: 20px;
    font-size: 19px;
}

.red-circle {
    position: relative;
}

.red-circle::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -21px;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: white;
    z-index: 3;
}

.red-circle::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: red;
    z-index: 2;
}

.yellow-circle {
    position: relative;
}

.yellow-circle::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -21px;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: white;
    z-index: 3;
}

.yellow-circle::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 196, 0);
    z-index: 2;
}

footer {
    background-color: #eeeeee;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

footer ul li {
    list-style-type: none;

}

/* footer p {
    margin-left: ;
} */

/* .right-side-img {
    flex: 1;
    text-align: right;
} */


/* .search-bar {
    border-radius: 20px;
    border: solid 1px;
    border-color: gray;
    height: 40px;
    width: 38rem;
    margin-left: 2vh;
} */